.advantages__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.advantages__list {
  list-style-type: none;
}

.item__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
