.footer-logo {
  position: relative;
  width: 80px;
  padding-left: 80px;
  margin: 0 auto;
}

.footer-logo::before {
  content: "";
  position: absolute;
  width: 59px;
  height: 40px;
  top: -15px;
  left: 5px;
  background-image: url("../img/glasses.svg");
  background-repeat: no-repeat;
  background-position: center;
}
