.form-name {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 22px;
  margin: 0;
}

.form-name__label {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

@media (min-width: 450px) {
  .form-name__label {
    flex-direction: row;
  }
}
