.form-email {
  display: flex;
  flex-direction: column;
  padding: 22px;
  margin: 0;
  border: none;
}

.form-email__title {
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  text-align: center;
}

@media (min-width: 450px) {
  .form-email {
    border: 2px solid #e5e5e5;
  }

  .form-email__title {
    display: block;
  }
}

@media (min-width: 960px) {
  .form-email {
    flex-direction: row;
    justify-content: space-between;
  }
}
