.page__body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/main-bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  color: #283645;
}

.page {
  width: 320px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
