.page {
  width: 320px;
  margin: 0 auto;
}

.page__body {
  width: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #283645;
}

@media (min-width: 450px) {
  .page {
    width: 660px;
  }
}

@media (min-width: 960px) {
  .page {
    width: 1200px;
  }
}
