.photos-item {
  list-style: none;
  overflow: hidden;
  margin: 0 auto;
}

.photos-item__img {
  display: block;
  margin: 0 auto;
}

.photos-item__img--favorites {
  position: relative;
  left: -30px;
}
