.photos-list {
  display: flex;
  flex-direction: column;
}

.photos-list__item {
  padding: 10px;
}

@media (min-width: 450px) {
  .photos-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .photos-list__item {
    width: 46%;
  }

  .photos-item--favorites {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .photos-list__item {
    width: 30%;
  }

  .photos-item--favorites {
    width: 100%;
  }
}
