@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/opensansbold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensanslight.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensanslight.woff2") format("woff2");
  font-display: swap;
}
.banner__title-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #ffffff;
}

.advantages__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.contacts__title {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
}

.contacts__email-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}

.contacts__address-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #D22856;
}

.contacts__email-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #D22856;
}

.contacts__phone-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #D22856;
}

.app-download {
  background-color: #1D2631;
}

.app-download__info {
  color: #ffffff;
}

.reviews__author-name {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.reviews__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.page__body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/main-bg.svg");
  background-repeat: no-repeat;
  background-position: top;
  color: #283645;
}

.advantages__list {
  list-style-type: none;
}

.item__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.item__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main-header {
  background-color: rgba(0, 0, 0, 0.3);
}

.main-nav {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}

.product-item__title-text {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.product-item__title-price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.product-item__option--title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.page {
  width: 320px;
}

.form-banner__title-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.form-name__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
}

.form-achievements__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
}

.achievements-item__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-email__label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #D22856;
}

.form-app__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
}

.app-item__title {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.form-review__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #D22856;
}

.catalog-banner__title-text {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
}

.catalog-photos__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.photos-item__autor-name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.photos-item__autor-online {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  color: #283645;
}

.photos-item__autor-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.photos-item__likes {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: #D22856;
}

.catalog-upload__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}

.catalog-photos__list {
  padding: 0;
}
/*# sourceMappingURL=style.css.map */